<div id="hobbies-wrapper" fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="40px" fxHide.lt-md>
  <div id="hobbies-row" class="first" fxLayoutAlign="center center" fxLayoutGap="40px">
    <div id="firstfirst" class="hobby" data-aos="fade-up" data-aos-duration="700"
      data-aos-anchor-placement="top-bottom" (click)="goto('https://www.youtube.com/playlist?list=PLgm7_rin1dVzcviyHPVFLvvuzX2dogIPV')">
      <img src="../../assets/google-earth.webp" width="100%">
      <div id="hobby-desc" fxLayoutAlign="center center">
        <span id="hobby-desc-text">Google Earth Studio Videos</span>
      </div>
    </div>
    <div class="hobby" data-aos="fade-up" data-aos-delay="300" data-aos-duration="700" data-aos-anchor="#firstfirst"
      data-aos-anchor-placement="top-bottom" (click)="goto('https://www.youtube.com/playlist?list=PLgm7_rin1dVwmGrP2i2eXddbrT1H4lwAo')">
      <img src="../../assets/portal.webp" width="100%">
      <div id="hobby-desc" fxLayoutAlign="center center">
        <span id="hobby-desc-text">Portal Speedruns Videos</span>
      </div>
    </div>
  </div>
  <div id="hobbies-row" fxLayoutAlign="center center" fxLayoutGap="40px">
    <div id="firstsecond" class="hobby" data-aos="fade-up" data-aos-duration="700"
      data-aos-anchor-placement="top-bottom" (click)="goto('https://www.youtube.com/channel/UCiEQ8ZDBKqxdOTt1DVnoyQQ')">
      <img src="../../assets/magic.webp" width="100%">
      <div id="hobby-desc" fxLayoutAlign="center center">
        <span id="hobby-desc-text">Card Magic</span>
      </div>
    </div>
    <div class="hobby" data-aos="fade-up" data-aos-delay="300" data-aos-duration="700" data-aos-anchor="#firstsecond"
      data-aos-anchor-placement="top-bottom" (click)="goto('https://www.youtube.com/channel/UCiEQ8ZDBKqxdOTt1DVnoyQQ')">
      <img src="../../assets/rubiks-cube.webp" width="100%">
      <div id="hobby-desc" fxLayoutAlign="center center">
        <span id="hobby-desc-text">Speedcubing</span>
      </div>
    </div>
  </div>
</div>

<div id="hobbies-wrapper-sm" fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="10px" fxHide.gt-sm>
  <div class="hobby-sm first-sm" (click)="goto('https://www.youtube.com/playlist?list=PLgm7_rin1dVzcviyHPVFLvvuzX2dogIPV')">
    <img src="../../assets/google-earth.webp" width="100%">
    <div id="hobby-desc" fxLayoutAlign="center center">
      <span id="hobby-desc-text">Google Earth Studio Videos</span>
    </div>
  </div>
  <div class="hobby-sm" (click)="goto('https://www.youtube.com/playlist?list=PLgm7_rin1dVwmGrP2i2eXddbrT1H4lwAo')">
    <img src="../../assets/portal.webp" width="100%">
    <div id="hobby-desc" fxLayoutAlign="center center">
      <span id="hobby-desc-text">Portal Speedruns Videos</span>
    </div>
  </div>
  <div class="hobby-sm" (click)="goto('https://www.youtube.com/channel/UCiEQ8ZDBKqxdOTt1DVnoyQQ')">
    <img src="../../assets/magic.webp" width="100%">
    <div id="hobby-desc" fxLayoutAlign="center center">
      <span id="hobby-desc-text">Card Magic</span>
    </div>
  </div>
  <div class="hobby-sm" (click)="goto('https://www.youtube.com/channel/UCiEQ8ZDBKqxdOTt1DVnoyQQ')">
    <img src="../../assets/rubiks-cube.webp" width="100%">
    <div id="hobby-desc" fxLayoutAlign="center center">
      <span id="hobby-desc-text">Speedcubing</span>
    </div>
  </div>
</div>

<app-footer></app-footer>
