<div class="wrapper" fxLayoutAlign="center center">
  <div class="inner-wrapper" fxLayoutAlign="space-between center" data-aos="fade-down" data-aos-duration="2500"
    data-aos-anchor=".footer-load" data-aos-offset="0">
    <div class="footer-item" fxLayout="column">
      <span id="author-name">Michał Czyż</span>
      <span>Portfolio v3.0</span>
    </div>
    <div class="footer-item" fxLayoutAlign="center center" fxLayout="column">
      <span>Web Developer</span>
      <span>Speedcuber & Magician</span>
    </div>
    <div class="footer-item" fxLayoutAlign="center center" fxLayout="column">
      <span>All rights reserved.</span>
    </div>
    <div class="footer-item" fxLayoutAlign="center center" fxLayout="column">
      <span>You can drop me a line at</span>
      <span><a href="mailto:mike@czyz.icu">mike@czyz.icu</a></span>
    </div>
    <div class="footer-item" fxLayoutAlign="center center" fxLayoutGap="10px">
      <div fxLayout="column">
        <a href="https://www.linkedin.com/in/mike-czyz">LinkedIn</a>
        <a href="https://github.com/eRgo35">GitHub</a>
      </div>
      <div fxLayout="column">
        <a href="https://www.youtube.com/channel/UCiEQ8ZDBKqxdOTt1DVnoyQQ">YouTube</a>
        <a href="https://twitter.com/Mike_Czyz_">Twitter</a>
      </div>
    </div>
  </div>
</div>