.wrapper {
  height: 10vh;
  font-size: max(16px, 1.6vh);
  cursor: default;
  background: var(--background);
  margin-top: 5vh;
}
.inner-wrapper {
  width: 90vw;
  a {
    color: var(--color);
    text-decoration: none;
    text-align: right;

    &:hover {
      text-decoration: underline;
    }
  }
}
.footer-item {
  width: 22vh;
}