#projects-wrapper {
  min-height: calc(100vh - 64px);
  margin-bottom: 10vh;
}

.first {
  margin-top: 10vh;
}

.project {
  position: relative;
  height: 25vw;
  width: 45vw;

  #project-desc {
    font-size: 10vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.767);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
    cursor: pointer;
    text-align: center;
  }

  &:hover #project-desc {
    visibility: visible;
    opacity: 1;
  }

  overflow: hidden;
}


#projects-wrapper {
  min-height: calc(100vh - 64px);
}

.first-sm {
  margin-top: 10px;
}

.project-sm {
  position: relative;
  height: 52.8vw;
  width: 95vw;

  #project-desc {
    font-size: 5vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.767);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
    cursor: pointer;
    text-align: center;
  }

  &:active #project-desc, &:hover #project-desc {
    visibility: visible;
    opacity: 1;
  }

  overflow: hidden;
}