<div id="projects-wrapper" fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="40px" fxHide.lt-md>
  <div id="projects-row" class="first" fxLayoutAlign="center center" fxLayoutGap="40px">
    <div id="firstfirst" class="project" data-aos="fade-up" data-aos-duration="700"
      data-aos-anchor-placement="top-bottom" (click)="goto('https://tsi.mczyz.icu')">
      <img src="../../assets/project-tsi.webp" width="100%">
      <div id="project-desc" fxLayoutAlign="center center">
        <span id="project-desc-text">Project TSI</span>
      </div>
    </div>
    <div class="project" data-aos="fade-up" data-aos-delay="300" data-aos-duration="700" data-aos-anchor="#firstfirst"
      data-aos-anchor-placement="top-bottom" (click)="goto('https://js-calc.cf')">
      <img src="../../assets/js-calc.webp" width="100%">
      <div id="project-desc" fxLayoutAlign="center center">
        <span id="project-desc-text">JS Calculator</span>
      </div>
    </div>
  </div>
  <div id="projects-row" fxLayoutAlign="center center" fxLayoutGap="40px">
    <div id="firstsecond" class="project" data-aos="fade-up" data-aos-duration="700"
      data-aos-anchor-placement="top-bottom" data-aos-anchor="#firstfirst" (click)="goto('https://github.com/eRgo35/Server-Manager')">
      <img src="../../assets/server-manager.webp" width="100%">
      <div id="project-desc" fxLayoutAlign="center center">
        <span id="project-desc-text">Server Manager</span>
      </div>
    </div>
    <div class="project" data-aos="fade-up" data-aos-delay="300" data-aos-duration="700" data-aos-anchor="#firstfirst"
      data-aos-anchor-placement="top-bottom"
      (click)="goto('https://github.com/eRgo35/Guess-the-Number')">
      <img src="../../assets/numbers.webp" width="100%">
      <div id="project-desc" fxLayoutAlign="center center">
        <span id="project-desc-text">Guess the Number</span>
      </div>
    </div>
  </div>
</div>

<!-- <div id="projects-wrapper-sm" fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="10px" fxHide.gt-sm>
  <div class="project-sm first-sm" (click)="goto('https://tsi.mczyz.icu')">
    <img src="../../assets/project-tsi.webp" width="100%">
    <div id="project-desc" fxLayoutAlign="center center">
      <span id="project-desc-text">Project TSI</span>
    </div>
  </div>
  <div class="project-sm" (click)="goto('https://js-calc.cf')">
    <img src="../../assets/js-calc.webp" width="100%">
    <div id="project-desc" fxLayoutAlign="center center">
      <span id="project-desc-text">JS Calculator</span>
    </div>
  </div>
  <div class="project-sm" (click)="goto('https://github.com/eRgo35/Server-Manager')">
    <img src="../../assets/server-manager.webp" width="100%">
    <div id="project-desc" fxLayoutAlign="center center">
      <span id="project-desc-text">Server Manager</span>
    </div>
  </div>
  <div class="project-sm" (click)="goto('https://github.com/eRgo35/Guess-the-Number')">
    <img src="../../assets/numbers.webp" width="100%">
    <div id="project-desc" fxLayoutAlign="center center">
      <span id="project-desc-text">Guess the Number</span>
    </div>
  </div>
</div> -->

<app-footer></app-footer>
