<div class="menu-wrapper" fxLayoutAlign="center center">
    <div class="menu-content" fxLayoutAlign="space-between center">
        <div><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">hello</a></div>
        <div fxLayoutAlign="space-between center" fxLayoutGap="40px">
            <div><a routerLink="/info" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">info</a></div>
            <div><a routerLink="/projects" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">projects</a></div>
            <div><a routerLink="/hobbies" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">hobbies</a></div>
            <!-- <div><a href="https://mczyz.ml/assets/resume.pdf">resume</a></div> -->
        </div>
    </div>
</div>