<div class="wrapper" fxLayoutAlign="center center">
  <div class="bio" fxLayoutAlign="space-between top" fxLayoutGap="8vh">
    <span data-aos="fade-right" data-aos-delay="300" data-aos-duration="1500">
      Michał Czyż is a high school student living in Poland. Michał is a starting Web Developer creating websites
      mainly in Angular. He also codes in i.a Python, VB.NET and a bit in C#. His hobbies are speedcubing and card
      magic.<br><br>On this website, you can find out more about his hobbies and projects.</span>
    <div class="img-wrapper">
      <img src="../../assets/me.webp" alt="Happy Michael" data-aos="fade-left" data-aos-delay="600" data-aos-duration="1500" />
    </div>
  </div>
</div>
<app-footer></app-footer>