.wrapper {
  height: calc(100vh - 64px);
  font-size: 20vh;
  line-height: 1;
  position: relative;
  cursor: default;
}
.background {
  background: var(--hello-background);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transform: skewY(-4deg);
  transform-origin: top left;
  z-index: -1;
}
.inner-wrapper {
  margin: 0 8vh 8vh;
  padding-top: 12vh;
}
.email {
  font-size: 3vw;
  margin-left: 1.5vh;
}
.animated-hello {
  overflow: hidden;
  line-height: 1;
  height: 1em;
}
.animated-live {
  animation: slide 20s linear infinite;
}
a {
  margin: 0;
  text-decoration: none;
  color: var(--color);
  font-size: 5vh;

  .fab {
    font-size: 3.5vh;
  }
}
.address {
  color: var(--color);
  text-decoration: none;
  position: relative;
}
.inner-email:hover .address {
    text-decoration: underline;
}
.container-email {
  width: 4.5vh;
  height: 4.5vh;
}
.icon {
  width: 3.8vh;
  height: 3.8vh;
  path {
    transition: 0.3s fill ease-in-out;
    fill: var(--color);
    &:hover {
      transition: 0.3s fill ease-in-out;
    }
  }
}
.twitter:hover path { 
  fill: #1da1f2 !important;
}
.linkedin:hover path {
  fill: #0e76a8 !important;
}
.youtube:hover path {
  fill: #ff0000 !important;
}
.github:hover path {
  fill: #f4cbb2 !important;
}
.social {
  margin-top: 10vh;
  width: 30vh;
  a {
    font-size: 0.7vh;
    border-radius: 50%;
  }
  opacity: 0;
  animation: fadein 2s 1.2s;
  animation-fill-mode: forwards;
  margin-left: 1.5vh;
}
@keyframes slide {
  0% {margin-top: -4em}
  20% {margin-top: -4em}
  25% {margin-top: -3em}
  45% {margin-top: -3em}
  50% {margin-top: -2em}
  70% {margin-top: -2em}
  75% {margin-top: -1em}
  95% {margin-top: -1em}
  100% {margin-top: 0em}
}
@keyframes fadein {
  from {opacity: 0}
  to {opacity: 1}
}
